
    ul {
    list-style-type: disc; /* or square, circle, etc. */
    padding-left: 20px; /* Adjust for indentation */
    margin-bottom: 10px;
  }
  
  ul li {
    margin-bottom: 5px; /* Space between list items */
  }

  /* In your global CSS file */
.no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}