*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
    ul {
    list-style-type: disc; /* or square, circle, etc. */
    padding-left: 20px; /* Adjust for indentation */
    margin-bottom: 10px;
  }
  
  ul li {
    margin-bottom: 5px; /* Space between list items */
  }

  /* In your global CSS file */
.no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* Custom scrollbar styles */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #3b82f6; /* Tailwind's blue-500 */
  border-radius: 10px;
  border: 3px solid #f1f1f1;
}
